name: Tests

on:
  push:
    branches: [main]
  pull_request:
    # Check all PR

jobs:
  tests:
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            python-version: "3.10"
          - os: ubuntu-24.04
            python-version: "3.13"
          - os: macos-15
            python-version: "3.13"
          # To be restored once we figure out the issue with the windows build
          # - os: windows-2019
          #   python-version: "3.13"

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install tox

    - name: run Python tests
      run: |
        tox -e pet-mad-tests
        tox -e pet-mad-dos-tests
        tox -e deprecated-pet-tests
      env:
        # Use the CPU only version of torch when building/running the code
        PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
